/* header style */

// /* nav style */
#inner-header{
	z-index : 9999;
	width : 100%;
	position : fixed;
	top : 0;
	left : 0;
	a.menu-toggler{
		display :inline-block;
		padding : {
			top :7px;
		}
		text-align : center;
		width : 100%;
		background-color : $glassyNavy;
		@include at-breakpoint($small) {
		 	display : none;
		}
		&:hover{
			background-color : $navy;
		}
		img.menu-icon{
			position :absolute;
			top :10px;
			right : 10px;
		}
	}
}
nav.header-menu{
	position : relative;
	padding :{
		right : 0;
		top : 0;
	}
	display : none;
	@include at-breakpoint($small) {
		 display : block;
		 padding:{
		  	right:25%;
		  	top : 0;
		}
	}
	&.display{
		display :block;
	}
	
	margin :0;
	width : 100%;
	height : 49px;
	ul.nav.top-nav{
		padding:0;
		margin :0;
		width : inherit;
		&>li{
			display : inline-block;
			width : 100%;
			@include at-breakpoint($small) {
			  width : 33.33%;
			}
			
			text-align :center;
			margin-left : -4px;
			
			
		}
	}
	.sub-menu{
		display : block;
		width : 100%;
		@include at-breakpoint($small) {
			display : none;
			position : absolute;
			top : 49px;
			left : 0;
			padding : 0;
			z-index : 9999;
		  
		}
		a{
			padding-right : 50px;
			@include at-breakpoint($small) {
				padding-right : 0;
			  
			}
		}
		
	}
	ul{
		transition : all .5s ease-in-out;
		-webkit-margin-before: 0;
    	-webkit-margin-after: 0;
    	-webkit-padding-start: 0px;
    	padding : 0;
		li:hover > ul{
			display : block;
		}
	}
	
	ul a,ul ul a{
		margin : 0;
				
		border-bottom : 1px solid $tingrey;
	}
	
	li{
		transition : all .5s ease-in-out;
		width : 100%;
		//border-bottom : 1px solid;
	}
	
	li:hover > ul{
		display : block;
				
	}
	.current_page_item>a{
		color : $white;
	}
 }
li.menu-item{
	 -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0px;
	position : relative;
	&>a{
		width : 100%;
		display : block;
		border : {
			left : 1px $tingrey solid;
			right : 1px $tingrey solid;
		}
		@include at-breakpoint($small) {
			display : inline-block;
			border : {
				left : 0px ;
				right : 0px ;
			}
		}
		
		text-decoration: none;
		padding : 0;
		margin : 0;
		color : $tingrey;
		background-color : $glassyNavy;
		line-height: 250%;

		
	
		

		&:hover{
			@include single-transition(background-color,0.4s);
			background-color: $navy;
			color : $white;
	    	
		}
		&:active{
			color : $white;
		}

		

	}


}
a.site-logo{
	display : none;
	width : 100%;
	@include at-breakpoint($small) {
	  display : inline-block;
	  width : 25%;
	}
	
	height : 49px;
	
	line-height : 250%;
	text-align : center;
	
	position : absolute;
	top : 0;
	right : 0;
	border : {
		left : 1px $tingrey solid;
	}
		background-color : $glassyNavy;
		border-bottom : 1px solid $tingrey;
		
	
	&:hover{
		@include single-transition(background-color,0.4s);
		background-color: $navy;
		color : $white;

	}
	&>img{
		padding-top : 8px;
	}


}