/* main style */

.layout{
	@include container;
}

body{
	font-family : $bodyFont;
	font-size : 120%;
	direction : rtl;
	@include background-image(image-url("introBack.jpg"));
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size : cover;

    &.external-tours{
		@include background-image(image-url("externalBackGround.jpg"));
	}
}
.body-wrapper{
	width : 100%;
	//height : 100%;
	min-height : 100%;
	display : block;
	overflow: hidden;
	position : relative;
	
	
		
	.body-content{
		width : 100%;
		//height : 100%;
		min-height : 100%;
		margin : 0;
		padding : {

			top : 50px;
			bottom : 50x;
		}
	}
	
}
.site-main{
	@include clearfix;
	padding-bottom : 50px;
	padding-top : 50px;
	

	.section-title{
		@include clearfix;
		display : block;
		color : $navy;
		font-weight : 500;
		line-height : 300%;
		@include background-image(image-url("external-title.png"));
		background-repeat : no-repeat;
		background-size : 120px;
		background-position : center right 30px;
			
			
	}
	
}

article.archive-tour{
		
		@include span-columns(12,12);
		
		&>a.tour-link{
			position : relative;
			display:inline-block;
			width : 100%;
			height : auto;
			text-align : center;
			padding : auto;
			margin : auto;
			overflow : hidden;
			

			.archive-tour-title{
				display : inline-block;
				width : 100%;
				height : 50px;
				padding : 10px;
				font-size : 160%;
				position : absolute;
				bottom : 0;
				right : 0;
				text-align : right;
				background : $tingrey;
				color : $navy;
			}
			img.wp-post-image{
				max-width : 100%;
				height :auto;
				opacity : 0.85;

				transition: all .7s ease-in-out;
			}
			&:hover img{
				opacity : 1;
				transform : scale(1.2) rotate(5deg);
			}

		}
		
		
		@include at-breakpoint($xmedium $medium) {
			@include set-container-width;
			@include span-columns(6,12);
			&:nth-child(2n){
				@include span-columns(6 omega,12);
			}
		}		
		
		@include at-breakpoint($medium $larg) {
			@include set-container-width;
			@include span-columns(4,12);
			&:nth-child(3n){
				@include span-columns(4 omega,12);
			}
		}
		@include at-breakpoint($larg) {
			@include set-container-width;
			@include span-columns(3,12);
			&:nth-child(4n){
				@include span-columns(3 omega,12);
				
			}
		}
	
	}

article.single-tour{
	padding-top : 50px;
	line-height : 150%;
	
	.tour-content,.tour-extra,.tour-slide,
	.tour-header,.tour-information{
		width : 100%;
	}
	.tour-detail,.tour-side{
		@include span-columns(12,12);
	}
	.tour-side{
		@include at-breakpoint($medium){
			@include span-columns(3,12);
		}
		.tour-header{
			
			.tour-title{
				padding : 20px;
				margin : 0px 0px;
				background-color : $glassyBlack;
				color : $white;
			}
			margin-bottom : 10px;
			//border-bottom : 1px solid $navy;
		}
		.tour-slide{
			margin-bottom : 10px;		
			img{
				width: 100%;
				max-width : 100%;
				height : auto;
				margin : auto;
			}
		}
		.tour-information{
			color : $white;
			background-color : $glassyBlack;
			margin-bottom : 20px;
			padding : 20px;
			.tour-information-title{
				color : $white;
				margin :0;
				padding : 0px 20px 10px;
				border-bottom : 1px solid $white;
			}
			ul.tour-info-list{
				font-size : 90%;
				list-style: none;
				strong {
					color : $white;
				}
			}
			
		}
	}
	
	
	
	.tour-detail{
		
		margin-bottom : 20px;
		@include at-breakpoint($medium) {
		  @include span-columns(9 omega,12);
		}
		.tour-content{
			font-size : 90%;
			background : $glassyWhite;
			padding : 0;
			margin-bottom : 20px;
		}
		.tour-extra{
			color : $white;
			background-color : $glassyBlack;
			font-size: 120%;
			margin-bottom : 20px;
			padding : 10px 20px;
		}
		
	}
.tour-content{
	text-align : center;
	vertical-align : baseline;
	img {
		max-width : 100;
		vertical-align : baseline;
	}
	span{
		vertical-align : top;
	}
	.tour-table,.tour-table-body{
		
		width : 100%;
		max-width : 100%;

	}
	.tour-table{
		font-size : 90%;
		a{
			color : $skyblue;

			&:hover{
				color : $navy;
			}
		}
		th{
			font-size: 90%;
			border : 1px solid $tingrey;
			line-height : 160%;
			font-weight: normal;
			color : $white;
			background-color : $skyblue;
			width: 14%;
			font-size: 120%;

		}
		td{
			font-family: $bYekan;
			border : 1px solid $tingrey;
			padding-top : 5px;
			width: 14%;
			font-size: 120%;
		}
	}
}	

}

.hotel-cat-title{
	color : $white;
	font-weight: inherit;
	margin : 10px;
}
.hotel-cat-description{
	margin :10px;
	background-color : $glassyBlack;
	color : $white;
	font-weight: inherit;
	min-height : 0px;
	display : inline-block;
	&>p{
		margin : 0;
		padding : 10px;
	}
}
ul.hotel-subclass{
	padding : 0px;
	padding-bottom: 30px;
    overflow: hidden;
}
li.hotel-subcat-list{
	position : relative;
	@include span-columns(12,12);
	margin-bottom : 20px !important;
	overflow : hidden;
	height : 500px;
	img{
		transition: all 1s ease-in-out;
		position :relative;
		max-height:100%;
		left : 30%;
	}
	&:hover img {
	    transform: translateX(30%);
	   
	}
	.hotel-subcat-title{
		display : block;
		background-color: $glassyBlack;
		color : $white;
		position : absolute;
		bottom : 10px;
		margin: 0;
    	width: 100%;
    	min-height: 50px;
    	padding: 10px;
    	font-size : 120%;
	}
	@include at-breakpoint($small $medium) {
	  
		@include span-columns(4,12);
		&:nth-child(3n){
			@include span-columns(4 omega,12);
		}
	}
	@include at-breakpoint($medium $larg) {
	  
		@include span-columns(3,12);
		&:nth-child(4n){
			@include span-columns(3 omega,12);
		}
	}
	@include at-breakpoint($larg) {
	  
		@include span-columns(2,12);
		&:nth-child(6n){
			@include span-columns(2 omega,12);
		}
	}
	
}
.hotel-list{
	
	
	
	a.hotel-link{
		background-color : $glassyWhite;
		border-bottom : 2px solid $navy;
		color : $navy;
		@include span-columns(12,12);
		@include at-breakpoint($medium) {
			@include span-columns(9,12);
			float : none;
			margin : auto;
			margin-bottom : 5px;
		}
		
		margin : auto;
		margin-bottom : 5px;
		display : block;
		overflow : hidden;
		border-top-left-radius: 20px;
		border-bottom-right-radius: 20px;
			
		&:hover{
			background-color : $tingrey;
		}
	

		h3.hotel-name{
			@include span-columns(9,12);
			margin : 0;
			padding : 10px 20px;

			@include at-breakpoint($medium) {
			  @include span-columns(6,12);
			}
					
		}
		span.hotel-rate{
			@include span-columns(3 omega,12);
			&>img{
				padding-top : 12px;
			}
		}

	}

}
article.single-hotel{
	max-width : 100%;
	float : none;
	display : block;
	padding : auto;
	margin : auto;	  
	
	// img{
	// 	max-width : 100%;
	// 	height : auto;
	// }
	
	.hotel-slider{
		position: relative;
		top: 0px;
		left: 0px;
		width: 800px;
		max-width : 100%;
		height: 456px;
		background: $glassyBlack;
		
		
	}
	
	ul.hotel-detail{
		
		
		width : 800px;
		max-width  : 100%;
		margin : auto;
		float : none;
		list-style : none;
		li{
			display : block;
			margin : 10px  auto;

			@include at-breakpoint($medium){
				display : inline-block;
				
			}
			background-color : $glassyBlack;
			color : $white;
			padding : 10px;
			

			
			img{
				padding-bottom : 2px;
				vertical-align: top;
			}

		}

	}
	.hotel-content{
		@include span-columns(12,12);
		@include at-breakpoint($medium){
			@include span-columns(9,12);
			display : block;
			float : none;
			margin : auto;
		}
		#slider_container{
			margin : auto;
		}
		.hotel-information{
			width : 800px;
			margin : 20px auto;
			max-width : 100%;
			background-color : $glassyBlack;
			color : $white;
			padding : 20px;
		}

	}
}

article.hentry{
	@include span-columns(12,12);
	padding : 20px 30px;
	float : none;
	margin : auto;
	margin-top : 30px;
	margin-bottom : 30px;
	display : block;
	background-color : $glassyWhite;
	.article-header{
		padding : 0 30px;
		border-bottom : 1px solid $grey;
		h1{
			margin-top:0;
			margin-bottom : 10px;
			
		}

	}
	&#post-not-found{
		background-color : $glassyBlack;
		color : $white;
		button,input,textarea{
			color : $navy;
		}
	}
}