/* main style */
$total-columns : 12;
$column-width : 4em;
$gutter-width : 1em;
$grid-padding : $gutter-width;
$from-direction: right;
$omega-float : left;

@include border-box-sizing;

$small : 30em;
$medium : 45em;
$larg : 75em;

.layout{
	@include container;
}

body{
	font-family : $bodyFont;
	direction : rtl;
	@include background-image(image-url("introBack.jpg"));
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size : cover;

    &.external-tours{
		@include background-image(image-url("externalBackGround.jpg"));
	}
}
.body-wrapper{
	width : 100%;
	min-height : 100%;
	display : block;
	overflow: hidden;
	position : relative;
	
	
		
	.body-content{
		width : 100%;
		min-height : 100%;
		margin : 0;
		padding : {

			top : 50px;
			bottom : 50px;
		}
	}
	ul.site-links{
		position : absolute;
		bottom : 0px ;
		right : 20px;
		margin : {
			bottom : 0;
		}
		
		&>li{
			display : inline-block;
			list-style: none;
		}
		&>li a{
			color : $tingrey;
			padding : 5px 0px;
			margin : 0px 5px;
			text-decoration: none;
			border:{
				top : 1px $tingrey solid ;
			}
		}
	}
}
.site-main{
	@include clearfix;
	

	a.section-title{
		@include clearfix;
		display : block;
		color : $white;
		
		h1{
			font-weight : 500;
			line-height : 300%;
			@include background-image(image-url("external-title.png"));
			background-repeat : no-repeat;
			background-size : 120px;
			background-position : center right 30px;
			
			}
	}
	
}

article.single-tour{
		
		@include span-columns(12,12);
		
		&>a.tour-link{
			display:block;
			width : 100%;
			height : auto;
		}
		&>a.tour-link>img{
			max-width : 100%;
		}
		
		
		

		@include at-breakpoint($medium $larg) {
			@include set-container-width;
			@include span-columns(6,12);
			&:nth-child(2n){
				@include span-columns(6 omega,12);
			}
		}
		@include at-breakpoint($larg) {
			@include set-container-width;
			@include span-columns(3,12);
			&:nth-child(4n){
				@include span-columns(3 omega,12);
				
			}
		}
	
	}

