// /* nav style */
.inner-header{
	width : 100%;
	position : fixed;
	top : 0;
	left : 0;
}
nav.header-menu{
	
	padding-right:25%;
	margin :0;
	width : 100%;
	ul.nav.top-nav{
		padding:0;
		margin :0;
		width : inherit;
		&>li{
			display : inline-block;
			width : 33.33%;
			text-align :center;
			
			
		}
	}
	.sub-menu{
		display : none;
		padding : 0;
		position : absolute;
		bottom : 0;
		left : 0;
		z-index : 9999;
		width : 100%;
	}
	ul{
		left : 100%;
		top : 0;
		li:hover > ul{
			display : block;
		}
	}
	
	ul a,ul ul a{
		margin : 0;
		border-bottom : 1px solid $tingrey;
	}
	
	li{
		width : 100%;
		border-bottom : 1px solid;
	}
	li:hover > ul{
		display : block;
	}
 }
li.menu-item{
	position : relative;
	&>a{
		width : 100%;
		display : inline-block;
		border : {
			left : 1px $tingrey solid;
		}
		text-decoration: none;
		padding : 0;
		margin : 0;
		color : $tingrey;
		background-color: rgba(42,70,81,0.85);
		line-height: 250%;
	
		

		&:hover{
			@include single-transition(background-color,0.4s);
			background-color: #2A465E;
	    	
		}

		

	}


}
/* --- Header-menu -----------------*/






ul.header-menu li:hover > ul, .header-menu ul li:hover > ul {

}



